* {
	margin: 0;
	padding: 0;
}

/*media query starts here*/
@media only screen and (min-width:300px) {
	/*navbar starts here*/

	#nav_ul {
		/*border: 2px solid red;*/
		margin: 2px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	.nav_li {
		padding: 6px;
		margin: 1px;
		list-style: none;
	}

	/*navbar starts here*/

	/*section 1*/
	#home {
		text-align: center;

	}

	#profile {
		height: 150px;
		width: 150px;
		border-radius: 100px;
		margin: 10px;
		text-align: center;
	}

	/*section 2*/
	#aboutme {
		background-color: #292D67;
		color: white;
		text-align: center;
	}

	#abouttext {
		margin: 10px;
		padding: 20px;
	}

	h2 {
		text-align: center;
		margin: 6px;
		padding: 4px;
		display: block;
	}

	/*section3*/
	#focus {
		background-color: #B3B6E3;
		color: white;
		text-align: center;
		margin: 0 20px;
		border-radius: 20px;
	}

	#focumain {
		margin: 10px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.foucsc {
		background-color: white;
		width: 200px;
		border: 2px solid white;
		margin: 10px auto;
		padding: 20px;
		border-radius: 20px;
	}

	.bgcircle {
		background-color: #292D67;
		height: 80px;
		width: 80px;
		border-radius: 100px;
		margin: auto;
	}

	/*section4*/
	#project {
		background-color: #292D67;
		color: white;
		text-align: center;
		margin-bottom: 0;
	}

	/*section5*/
	#blogpost {
		background-color: #292D67;
		color: white;
		text-align: center;
		margin-top: 0;
	}

	/*section6*/
	#article {
		background-color: #292D67;
		color: white;
		text-align: center;
	}

	#articlen {
		margin: 26px;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 30px;
	}

	.artilst {
		display: block;
		color: white;
		text-decoration: none;
		padding: 5px;
		font-size: 12px;
	}

	#emailc:hover {
		margin: 10px;
		border: 2px solid white;
		border-radius: 2px;
		background-color: white;
		color: black;
	}

	#footn {
		margin-left: 20px;
		margin-right: 20px;
		padding: 10px;
	}

	.icfoot {
		height: 25px;
		width: 25px;
		border: 1px solid white;
		border-radius: 100px;
		padding: 5px;
	}


	#footm {
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 10px;
		padding: 10px;
	}

	.prosoon {
		margin: 5px;
		padding: 20px;
	}

	/* acedmic css start here */
	#gcontainer {
		display: grid;
		justify-content: center;
		align-items: center;
	}

	#gabtn {
		text-decoration: none;
		color: white;
		border: 1px solid white;
		padding: 10px;
		border-radius: 10px;
	}

	#gabtn:hover {
		background-color: white;
		color: #585dac;
	}

	/* acedmic css ends here */
}


/*media query ends here*/

@font-face {
	font-family: 'Sometype Mono';
	src: url('font/SometypeMono-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Sometype Mono', monospace;
}


/*navbar starts here*/
#navbar {
	/*border: 2px solid red;*/
	flex-wrap: wrap;
	text-align: center;
	background-color: white;
	position: sticky;
	top: 0;
}

#nav_ul {
	/*border: 2px solid red;*/
	margin: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 30px;
}

.nav_li {
	padding: 10px;
	margin: 2px;
	list-style: none;
}

.nav_a {
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: black;


}

/*navbar starts here*/

/*section 1*/
#home {
	text-align: center;
	padding: 20px;

}

#profile {
	height: 200px;
	width: 200px;
	border-radius: 100px;
	margin: 20px;
	text-align: center;
}

/*section 2*/
#aboutme {
	background-color: #292D67;
	color: white;
	text-align: center;
	font-size: 20px;
}

#abouttext {
	margin: 20px;
	padding: 40px;
}

h2 {
	margin: 40px;
	padding: 20px;
}

#homer:hover {
	text-decoration: underline;
}

#emailr:hover {
	text-decoration: underline;
}

#projr:hover {
	text-decoration: underline;
}

#blogr:hover {
	text-decoration: underline;
}

/*section3*/
#focus {
	background-color: #B3B6E3;
	color: white;
	text-align: center;
	font-size: 20px;
	margin: 0 40px;
	border-radius: 20px;
}

#focumain {
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.foucsc {
	background-color: white;
	width: 200px;
	border: 2px solid white;
	margin: 20px auto;
	padding: 40px;
	border-radius: 40px;
}

.bgcircle {
	background-color: #292D67;
	height: 100px;
	width: 100px;
	border-radius: 100px;
	margin: auto;
}

.imgban {
	margin: auto;
}

.pfoucs {
	color: black;
}

.pfodes {
	color: #292D67;
}

h3 {
	color: black;
}

/*section4*/
#project {
	background-color: #292D67;
	color: white;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}

/*section5*/
#blogpost {
	background-color: #292D67;
	color: white;
	text-align: center;
	font-size: 20px;
	margin-top: 0;
}

/*section6*/
#article {
	background-color: #292D67;
	color: white;
	text-align: center;
	font-size: 20px;
	margin: 0;
}

#articlen {
	margin: 50px;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 60px;
}

.artilst {
	display: block;
	color: white;
	text-decoration: none;
	border: 2px solid white;
	border-radius: 20px;
	padding: 10px;
	font-size: 20px;
}

.artilst:hover {
	background-color: white;
	color: black;
}

#foot {
	background-color: #292D67;
	color: white;
	text-align: center;
}

#emailc {
	color: white;
}

#emailc:hover {
	margin: 10px;
	border: 2px solid white;
	border-radius: 2px;
	background-color: white;
	color: black;
}

#footn {
	margin-left: 40px;
	margin-right: 40px;
	padding: 20px;
}

#footd {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.icfoot {
	height: 50px;
	width: 50px;
	border: 2px solid white;
	border-radius: 100px;
	padding: 10px;
}

.icfoot:hover {
	background-color: red;
}

#footm {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	padding: 20px;
}

.prosoon {
	margin: 10px;
	padding: 20px;
}

/*updated on 11/11/23 start here*/
#aced {
	background-color: #292D67;
	height: 10%;
	color: white;
	text-align: center;
	margin: 20px 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*card css start here*/
#gcard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#card {
	border: 2px solid white;
	border-radius: 6px;
	margin: 20px;
	padding: 10px;
	height: 400px;
	width: 250px;
	background-color: white;
	color: black;
	z-index: 0.2;
}


.img-card {
	height: 40%;
	width: 250px;
	margin: 2px;
	/*border: 1px solid white;*/
	border-radius: 10px;
}

#info-a {
	margin: 10px;
	padding: 8px;
	/*border: 1px solid white;*/
	/
}

.card-h {
	font-size: 20px;
	font-weight: bold;
}

.card-p {
	font-size: 12px;
	font-weight: lighter;
}

.explore {
	text-decoration: none;
	border: 2px solid black;
	padding: 12px;
	margin: 20px;
	color: black;
	border-radius: 10px;
	display: block;
}

.explore:hover {
	background-color: #292D67;
	color: white;
	border: none;
}

/*card css ends here*/

/* acedmic css start here */
#gcontainer {
	display: grid;
}

#gabtn {
	text-decoration: none;
	color: white;
	border: 2px solid white;
	padding: 20px;
	border-radius: 10px;
}

#gabtn:hover {
	background-color: white;
	color: #585dac;
}

/* acedmic css ends here */