*{
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
  color: white;
}
/*nav bar formatting*/
/*logo formatting start here*/
#logo{
  padding: 10px;
}
#logoh{
  padding: 10px;
  margin: 10px;
  color: white;
  font-size: 24px;
  font-weight: 800;
}
/*logo formatting ends here*/
#navbar{
  position: sticky;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  top: 0;
  background-color: black;
  border-radius: 10px;
}
#navele {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.navli{
  margin: 2px;
  padding: 10px;
  list-style: none;
}
.nava{
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
}
.nava:hover{
  border: 2px solid white;
}
#hireme{
  text-decoration: none;
  color: white;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 20px;
  line-height: 6;
}
#hireme:hover{
  background-color: white;
  color: black;
  border: none;
}
/*nav bar ended*/
/*header section*/
#header{
  background-color: black;
  color: white;
  padding: 20px;
  height: 80vh;
}
#greet{
  color: rgb(228, 225, 225);
  font-weight: 600;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
}
#namefor{
  color: rgb(187, 187, 241);
}
#name{
  padding: 10px;
  font-size: 120px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.spani{
  color: rgb(187, 187, 241);
}
#ifo{
  font-size: 18px;
  font-family: cursive;
}
/*header section*/
/*about me start here*/
#aboutme{
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
}
#hra{
  border: 4px solid rgb(187, 187, 241);
  border-radius: 10px;
  width: 100px;
  align-self: center;
  margin: 10px;
}
#groupabout{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#des{
  margin: 20px;
  padding: 40px;
  border: 2px solid black;
  color: black;
  border-radius: 10px;
  width: 40%;
  line-height: 2;
}
#des:hover{
  background-color: black;
  color: white;
}
#photo{
  height: 300px;
  margin: 40px;
  border-radius: 100%;
}
#hra{
  background-color: black;
}
/*abount me ends here*/
/* projects section start here*/
#projects{
  padding: 40px;
}
#backg {
  padding: 20px;
  z-index: -1;
}
#gallery{
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
#imgbac{
  height: 94vh;
  width: 89vw;
}
.iconui{
  height: 20px;
  background-color: white;
  border-radius: 20px;
  margin: 20px;
}
/*start here subui clicked*/
#ui1:hover{
  background-color: rgb(187, 187, 241);; 
}
#ui2:hover{
  background-color: rgb(187, 187, 241);;
}
#ui3:hover{
  background-color: rgb(187, 187, 241);;
}
/*ends here subui cliked*/

/* projects section ends here*/
/*achivemets section start here*/
#achive{
  background-color: white;
  color: black;
  padding: 20px;
}
#rangeo{
  margin: 10px;
  border: 4px solid white;
  padding: 0;
  border-radius: 10px;
  height: 12px;
  width: 120px;
  box-shadow: 1px 1px black;
}
.rangei{
  background-color: black;
  margin: 1px;
  border-radius: 10px;
  height: 8px;
  border: 1px solid white;
  padding: 0;
}
#skillgroup{
  background-color: rgb(187, 187, 241);
  border-radius: 10px;
  box-shadow: 1px 1px black;
  padding: 10px;
  width: auto;
}
.skillitem{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.skhead{
  color: white;
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#groupskilldes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  margin: 20px;
}
#descript{
  padding: 10px;
  margin: 20px;
  width: 50%;
}
#dsecf{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 2;
}
/* skill progress start here*/
#uni1 {
  width: 90px;
}
#uni2 {
  width: 80px;
}
#uni3 {
  width: 70px;
}
#uni4 {
  width: 90px;
}
#uni5 {
  width: 60px;
}
#uni6 {
  width: 85px;
}
/*skill progress ends here*/
.skhead1{
  color: black;
  font-size: x-small;
}
#read{
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
  text-decoration: none;
  color: white;
  background-color: black;
}
#read:hover{
  border: 1px solid black;
  color: black;
  background-color: white;
}
#hra1{
  border: 4px solid white;
  border-radius: 10px;
  width: 100px;
  align-self: center;
  margin: 10px;
}
/*achievements section ends here*/
/*contact sectcion start here*/
#contact{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#getintouch{
  margin: 10px;
  padding: 10px;
  width: 40%;
}
#contactform{
  margin: 10px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
}
.formgroup{
  padding: 10px;
  margin: 10px;
  background-color: rgb(37, 37, 37);
  border-radius: 10px;
}
.formlab{
  padding: 10px;
  margin: 10px;
}
.forminput{
  height: 30px;
  width: 60%;
  border-radius: 10px;
  border: none;
}
#forbutton{
  height: 30px;
  width: 100%;
  background-color: white;
  color: black;
  border-radius: 10px;
  border: none;
}
#forbutton:hover{
  background-color: black;
  color: white;
  border: 2px solid white;
}
.forminput::placeholder {
  padding: 2px;
  color: grey;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
}
#teareafo::placeholder{
  padding: 2px;
  color: grey;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
}
.removforem{
  background: none;
}
#emailme{
  text-decoration: none;
  color: white;
}
#emailme:hover{
  background-color: white;
  color: black;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

/*contact section ends here*/