:root{
  --bgcolor : #f7f7fa;
  --primary : #4831d4;
  --secondary: #0a0433;
  --tertiary: #ccf381;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
::-webkit-scrollbar{
  width: 10px;

}
::-webkit-scrollbar-track{
  background: var(--primary);
  padding: 4px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(var(--secondary),var(--bgcolor));
  border-radius: 4px;
  margin: 2px;
}

body {
  background-color: var(--primary);
  color: var(--bgcolor);
}
body::selection {
  background-color: var(--bgcolor);
  color: var(--primary);
}
#mu{
  visibility: hidden;
}
#uer_ui{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
#devloper_profile{
  width: auto;
  background-color: var(--tertiary);
  padding: 50px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userui_hr{
  background-color: var(--primary);
}
#hr_dev{
  color: var(--primary);
}
#head_post{
  font-size: 40px;
  color: var(--tertiary);
  font-weight: bold;
}
#photo_devloper{
  height: 100%;
}
#muroc {
  height: 20px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

#muroclose{
  height: 20px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

/*nav bar formatting*/
/*logo formatting start here*/
#logo {
  padding: 10px;
}

#logoh {
  padding: 10px;
  margin: 10px;
  color: var(--bgcolor);
  font-size: 24px;
  font-weight: 800;
}

/*logo formatting ends here*/
#navbar {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  background-color: var(--primary);
}

#navele {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.navli {
  margin: 2px;
  padding: 10px;
  list-style: none;
}

.nava {
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  color: var(--bgcolor);
}

.nava:hover {
  border-radius: none;
  border: none;
  color: var(--primary);
  background-color: var(--bgcolor);
}

#hireme {
  text-decoration: none;
  color: var(--bgcolor);
  padding: 10px;
  border: 2px solid var(--bgcolor);
  border-radius: 10px;
  font-size: 20px;
  line-height: 6;
}

#hireme:hover {
  background-color: var(--secondary);
  color: var(--bgcolor);
  border: none;
}

/*nav bar ended*/
/*header section*/
#header {
  background-color: var(--primary);
  color: var(--bgcolor);
  padding: 20px;
  height: auto;
  width: 50%;
}

#greet {
  color: var(--bgcolor);
  font-weight: 600;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
}

#namefor {
  color: var(--tertiary);
}

#name {
  padding: 10px;
  font-size: 120px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.spani {
  color: var(--tertiary);
}

#ifo {
  font-size: 18px;
  font-family: cursive;
}

/*header section*/
/*about me start here*/
#aboutme {
  background-color: var(--bgcolor);
  color: var(--secondary);
  text-align: center;
  padding: 10px;
}


#hra {
  border: 4px solid var(--secondary);
  border-radius: 10px;
  width: 100px;
  align-self: center;
  margin: 10px;
}

#groupabout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#arsh_intro{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#des {
  margin: 10px;
  padding: 20px;
  color: var(--primary);
  width: 50%;
  line-height: 1.6;
  text-align: justify;
}


#profilebg{
  width: auto;
  margin: 0;
  padding: 0;
}
#photo {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

#hra {
  background-color: var(--primary);
}
/*about ex start here*/
#about_ex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/*about ex ends here*/
/*gcertified starts here*/
#gcertified{
  margin: 20px;
}
#g{
  color: #4285F4;
}
#o1{
  color: #EA4335;
}
#o2{
  color: #FBBC05;
}
#g1g{
  color: #4285F4;
}
#l{
  color: #34A853;
}
#e{
  color: #EA4335;
}
#uicert{
  font-size: 25px;
}
/*gcertified ends here*/
/*card css start here*/

#card {
	border: 2px solid var(--primary);
  box-shadow: 1px 1px var(--tertiary);
	border-radius: 10px;
	margin: 20px;
	padding: 10px;
	height: 400px;
	width: 250px;
	background-color: var(--bgcolor);
	color: var(--primary);
	z-index: 0.2;
}


.img-card {
	height: 40%;
	width: 250px;
	margin: 2px;
	/*border: 1px solid var(--bgcolor);*/
	border-radius: 10px;
}

#info-a {
	margin: 10px;
	padding: 8px;
	/*border: 1px solid var(--bgcolor);*/
}

.card-h {
	font-size: 20px;
	font-weight: bold;
}

.card-p {
	font-size: 12px;
	font-weight: lighter;
}

.explore {
	text-decoration: none;
  background-color: var(--primary);
	color: var(--bgcolor);
	padding: 12px;
	margin: 20px;
	border-radius: 10px;
	display: block;
}

.explore:hover {
	border: 2px solid var(--bgcolor);
	color: var(--tertiary);
}

/*card css ends here*/

/*abount me ends here*/
/* projects section start here*/
#projects {
  padding: 40px;
}

#backg {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
/*custom scroll bar start here*/
#backg::-webkit-scrollbar{
  width: 0;

}
#backg::-webkit-scrollbar-track{
  background: var(--primary);
}
#backg::-webkit-scrollbar-thumb{
  border-radius: 10px;
}
/*custom scroll bar ends here*/

.
/* projects section ends here*/
.boldhead{
  font-style: italic;
  font-weight: 1000;
  font-size: 20px;
}

.boldhead:hover {
  background-color: antiquevar(--bgcolor);
}

/*achivemets section start here*/
#achive {
  background-color: var(--bgcolor);
  color: var(--primary);
  padding: 20px;
}
#achive::selection {
  background-color: var(--primary);
  color: var(--bgcolor);
}

#rangeo {
  margin: 10px;
  border: 4px solid var(--bgcolor);
  padding: 0;
  border-radius: 10px;
  height: 12px;
  width: 120px;
  box-shadow: 1px 1px var(--tertiary);
}

.rangei {
  background-color: var(--primary);
  margin: 1px;
  border-radius: 10px;
  height: 8px;
  border: 1px solid var(--bgcolor);
  padding: 0;
}

.skills_head{
  color: var(--bgcolor);
}

#skillgroup {
  background-color: var(--primary);
  border-radius: 10px;
  box-shadow: 1px 1px var(--primary);
  padding: 10px;
  width: auto;
}


.skillitem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.skhead {
  color: var(--bgcolor);
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#skills>h2{
  color: var(--tertiary);
}

#groupskilldes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  margin: 20px;
}

#descript {
  padding: 10px;
  margin: 20px;
  width: 50%;
}

#dsecf {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 2;
}

/* skill progress start here*/
#uni1 {
  width: 90px;
}

#uni2 {
  width: 80px;
}

#uni3 {
  width: 70px;
}

#uni4 {
  width: 90px;
}

#uni5 {
  width: 60px;
}

#uni6 {
  width: 85px;
}

/*skill progress ends here*/
.skhead1 {
  color: black;
  font-size: x-small;
}

#read {
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
  text-decoration: none;
  color: var(--bgcolor);
  background-color: var(--primary);
}

#read:hover {
  border: 1px solid var(--primary);
  color: var(--primary);
  background-color: var(--bgcolor);
}

#hra1 {
  border: 4px solid var(--bgcolor);
  border-radius: 10px;
  width: 100px;
  align-self: center;
  margin: 10px;
}
.boldbody{
  color: var(--secondary);
  font-weight: bold;
}
/*achievements section ends here*/
/*contact sectcion start here*/
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#getintouch {
  margin: 10px;
  padding: 10px;
  width: 40%;
}

#contactform {
  margin: 10px;
  padding: 10px;
  border: 2px solid var(--bgcolor);
  border-radius: 10px;
}

.formgroup {
  padding: 10px;
  margin: 10px;
  background-color: var(--primary);
  border-radius: 10px;
}
#conform{
  width: 360px;
}
.formlab {
  padding: 10px;
  margin: 10px;
}

.forminput {
  height: 30px;
  width: 60%;
  border-radius: 10px;
  border: none;
  padding: 6px;
}

#forbutton {
  height: 30px;
  width: 100%;
  background-color: var(--bgcolor);
  color: var(--primary);
  border-radius: 10px;
  border: none;
}

#forbutton:hover {
  background-color: var(--secondary);
  color: var(--bgcolor);
  border: 2px solid var(--tertiary);
}

.forminput::placeholder {
  padding: 2px;
  color: var(--primary);
  font-size: 14px;}
#teareafo{
  padding: 10px;
  border-radius: 10px;
  width: 90%;
}
#teareafo::placeholder {
  padding: 2px;
  color: var(--primary);
  font-size: 14px;
}

.removforem {
  background: none;
}

#emailme {
  text-decoration: none;
  color: var(--bgcolor);
}

#emailme:hover {
  background-color: var(--bgcolor);
  color: var(--primary);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.socialconnt{
  background-color: var(--bgcolor);
  height: 40px;
  margin: 10px;
  padding: 10px;
  border-radius: 2px;
}
#linkedicon:hover{
  background-color: var(--tertiary);
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}
#gicon:hover{
  background-color: var(--tertiary);
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}
/*contact section ends here*/